# Rust build
/client/target
/client/test-ledger
/client/src/old.main.rs
/my-counter/target
/client/cargo.lock
/my-counter/cargo.lock
/my-counter/test-ledger
/my-counter/src/old.lib.rs
**/*.rs.bk

# Anchor build artifacts
/programs/**/target/
**/*.so
**/*.dSYM

# Node / frontend stuff (if any)
node_modules/
dist/
.env

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
